<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogSite : Register</title>
    <link rel="stylesheet" href="/css/login-register.css">
    <link rel="icon" type="image/png" href="../images/fevicon.png">
</head>
<body>
    <div class="logo">
        <img src="../images/icon.png" alt="">
        <span>BlogSite</span>
    </div>

    <h1>Register</h1>

    <form id="registerForm">

        <div>
            <label for="email">Enter Email:</label>
            <input type="email" id="email" name="email"required>
        </div>

        <div>
            <label for="username">Enter Name:</label>
            <div class="name">
                <input  type="text" id="username" name="firstname" placeholder="First Name" required>
                <input type="text"   name="lastname" placeholder="Last Name" required>
            </div>
        </div>

        <div>
            <label  for="set-password">Create Password:</label>
            <input  type="password" id="set-password" name="password"  required>
        </div>

        <div>
            <label for="password2">Confirm Password:</label>
            <input type="password" id="confirm-password"  required>
        </div>
        <p id="error" style="color:red; visibility:hidden;">Error</p>

        <button type="submit" class="button" id="submitBtn">
            <span id="btnText">Submit</span>
            <span id="btnLoader" class="loader" style="display:none;"></span>
        </button>
    </form>
    <p>Already have an account? <a href="/auth/loginform">Login</a></p>
    <a href="/">Go to home page</a>
    
    <script src="../js/registerFormPage.js"></script>
</body>
</html>