<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogSite : Email Verification</title>
    <link rel="icon" type="image/png" href="../images/fevicon.png">
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            height: 95vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
        }
        .wrapper{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 1.5rem;
            box-shadow: 0px 0px 7px rgb(54, 54, 57);
            border-radius: 1rem;
        }
        form{
            margin: 0.8rem;
        }
        .otp{
            width:15rem;
            height: 2.5rem;
            outline: none;
            border: none;
            box-shadow: 0px 0px 3px;
            border-radius: 0.5rem;
            background-color: rgb(238, 238, 238);
            padding: 2px 2.2rem;
            letter-spacing: 12px;
            font-size: 1.5rem;
            
        }
        .btn{
            background-color: rgb(54, 54, 252);
            color: white;
            margin: 0px 1rem;
            padding: 0.3rem 0.5rem;
            border: none;
            border-radius: 0.4rem;
            font-size: 1.2rem;
            font-weight: 600;
            cursor: pointer;
        }
        h1{
            margin: 0.7rem 0rem;
            font-size: 3rem;
        }
        .logo{
            position: absolute;
            top: 1rem;
            left: 1rem;
            display: flex;
            align-items: center;
            font-size: 2rem;
            color: rgb(41, 72, 85);
            font-weight: 600;
            cursor: pointer;
            text-decoration: none;
            z-index: 10;
        }
        .logo>img{
            width: 4rem;
        }
        .resend:disabled {
            background-color: #817a7a;
            cursor: not-allowed;
            opacity: 0.6;
        }
        p{
            font-size: 1.2rem;
            color: rgb(68, 68, 68);
        }
        .resendbox{
            display: flex;
            align-items: center;
            gap: 2rem;
        }
        a{
            color: white;
            text-decoration: none;
        }
        .loader {
            border: 3px solid #f3f3f3; /* Light gray */
            border-top: 3px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 16px;
            height: 16px;
            animation: spin 1s linear infinite;
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;
        }
  
        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }

        .btn:disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }

    </style>
</head>
<body>
    <a class="logo" href="/">
        <img src="../images/icon.png" alt="">
        <span>BlogSite</span>
    </a>
    <div class="wrapper">
        <div class="box1">
            <h1>Verify your email:</h1>
            <p>An OTP has been sent to your regsitered email: <%=email%> </p>
            <p class="expire-time"></p>
        </div>
        <form >
            <input class="otp" type="text" maxlength="6" name="otp">
            <button type="submit" class="btn" id="submitBtn">
                <span id="btnText">Submit</span>
                <span id="btnLoader" class="loader" style="display:none;"></span>
            </button>
        </form>
        <div class="resendbox">
            <button class="btn resend">Resend</button>
            <p class="timer"></p>
        </div>
        <p class="error-message" style="visibility: hidden; color: red;">here goes the error message</p>
    </div>

    <script src="../js/verifyEmail.js"></script>

</body>
</html>