<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogSite</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+QLD:wght@100..400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="images/fevicon.png">


</head>
<body>

    <!-- left part of the home page -->
    <div class="heading-div">
        <div class="head-desc-div">
            <div>
                <img id="icon" src="images/icon.png" alt="">
                <h1>BlogSite</h1>
            </div>
            <p class="desc">"Your voice, your space — share your thoughts, stories, and ideas with the world in just a few clicks."</p>
        </div>
        <div class="login-register-div">
            <button><a href="/auth/loginform">Login</a></button>
            <p>don't have an account? <a href="/auth/registerform">create account</a></p>
        </div>
    </div>

    <!-- right part of the home page -->
    <div class="img-div">
        <img src="images/homepage-typingphoto.png" alt="">
    </div>
</body>
</html>